@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --logo-color: #6070ff;
  --menu-icon-color: #6070ff;
  --h1-color: #172b4d;
  --span-color: #7f8cff;
  --paragraph-color: #344563;
  --font-family: "Poppins", sans-serif;
  --li-color: #c1c7d0;
  --h3-color: #172b4d;
  --h2-color: #172b4d;
  --btn-bg-color: #ebebff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: var(--font-family);
  margin: 0 auto;
  background: #f7f7f9;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 375px;
}

header {
  background-color: #fff;
  width: 100%;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--logo-color);
}

.logo {
  color: var(--logo-color);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  line-height: 20px;
  font-weight: 700;
  font-size: 18px;
}

.logo-container {
  padding: 58px 0 0 24px;
}

.menu {
  padding: 58px 24px 0 0;
}

.ion-icon {
  font-size: 64px;
  color: var(--menu-icon-color);
  padding: 8px;
  margin: 0 24px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-repeat: no-repeat;
  border-bottom-left-radius: 25% 100px;
  background-image: url("images/background/header-background.svg");
}

.hero-main-div {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 10px;
}

h2 {
  color: var(--h1-color);
  font-size: 36px;
  padding: 0 24px 12px 24px;
  font-family: var(--font-family);
}

.name {
  color: var(--h1-color);
  font-size: 36px;
  padding-left: 0;
  font-family: var(--font-family);
}

.about-paragraph-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.about-paragraph {
  color: var(--paragraph-color);
  font-size: 1rem;
  line-height: 24px;
  font-family: var(--font-family);
  font-weight: 400;
  width: 100%;
}

.media_icons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  height: 20px;
  width: 50%;
}

.media_icons-about {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  height: 20px;
  width: 50%;
  padding-left: 10px;

}


.connect {
  color: var(--span-color);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
  cursor: pointer;
}

.socialmedia_icons_container {
  padding-top: 10px;
}

.connect-about {
  color: var(--span-color);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.media-icons:hover,
.menu:hover,
.logo:hover {
  cursor: pointer;
}

.image-fluid {
  width: 100%;
  height: auto\9;
  object-fit: cover;
}

.card-layout {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 16px;
  border: 1px solid #fff;
  border-radius: 16px;
  margin-top: 88px;
  background-color: #fff;
}

.p-title {
  display: flex;
  flex-direction: column;
  margin: 12px 5px;
}

.title {
  color: var(--h3-color);
  font-size: 32px;
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 44px;
}

.text {
  margin-top: 10px;
}

.multi-post {
  color: var(--h3-color);
  font-size: 26px;
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 24px;
}

.flex-items {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.canopy {
  list-style: none;
  color: #344563 !important;
}

.text_paragraph {
  color: var(--paragraph-color);
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 270px;
  margin-bottom: 10px;
  font-family: var(--font-family);
}

.list-item {
  margin-right: 25px;
  color: #7a869a;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.btn-container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 200px;
}


.btn-sm {
  background-color: #ebebff;
  width: 53px;
  text-align: center;
  height: 24px;
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  transition: 0.2s;
  border: none;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  font-family: var(--font-family);
}

.btn-md {
  background-color: #ebebff;
  width: 45px;
  text-align: center;
  height: 24px;
  border-radius: 8px;
  border: none;
  color: #6070ff;
  padding: 4px 12px;
  transition: 0.2s;
  font-weight: 500;
  font-size: 12px;
  font-family: var(--font-family);
}

.btn-lg {
  width: 70px;
  text-align: center;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: #ebebff;
  color: #6070ff;
  transition: 0.2s;
  font-weight: 500;
  font-size: 12px;
  font-family: var(--font-family);
}

.btn-container {
  margin-top: 10px;
}

.btn-xxl {
  width: 124px;
  text-align: center;
  height: 48px;
  border: 1px solid #6070ff;
  background-color: #fff;
  color: #396df2;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  transition: 0.2s;
  font-family: var(--font-family);
}

.btn-sm:hover,
.btn-md:hover,
.btn-lg:hover,
.btn-xxl:hover {
  cursor: pointer;
  background-color: #6070ff;
  box-shadow: 0 0 16px rgba(64, 83, 252, 0.24);
  transform: translateY(4px);
  color: #fff;
}

.btn-sm:active,
.btn-md:active,
.btn-lg:active,
.btn-xxl:active {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #7f8cff;
  color: #6070ff;
}

/* about section starts here */

.footer-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-background {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border-top-right-radius: 50px;
}

.about-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  border-top-right-radius: 0% 25px;
}

.about-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  color: var(--h2-color);
  line-height: 52px;
  padding-top: 114px;
  padding-left: 0;
}

.about-btn {
  padding: 10px;
}

.btn-resume {
  font-size: 15px;
  font-weight: 400;
}

.accordion {
  margin-top: 60px;
}

.accordion-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.accordion li {
  list-style: none;
}

.media--images {
  cursor: pointer;
}

.skill--description {
  font-size: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  color: black;
}

.skill--description-link {
  text-decoration: none;
  margin-left: 36px;
}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  height: 66.72px;
  background-color: #f7f7f9;
}

.skill-image {
  margin: 9px 12px 9.72px;
  height: 48px;
  width: 48px;
  object-fit: cover;
}

.skill-name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.chevron-icons {
  cursor: pointer;
  margin-right: 64px;
}

.frameworks-container,
.skills-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid;
  border-radius: 0.7px;
  border-color: #dfe1e6;
}

.framework--title-link,
.skills--title-link {
  text-decoration: none;
  font-size: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 24px;
  color: black;
  margin: 36px 36px;
}

.contact-me-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  padding-top: 50px;
}

.contact-me-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 779px;
  background-image: url(images/background/footer-background.svg);
}

.contact-me-header {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: var(--font-family);
}

.contact-me-p {
  align-items: center;
  text-align: center;
  color: #ebebff;
  font-weight: 400;
  font-size: 20px;
  font-family: var(--font-family);
  margin-top: 20px;
}

.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
}

.form-input-name,
.form-input-email {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  height: 48px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  font-family: var(--font-family);
  color: #172b4d;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.form-input-email {
  margin-top: 10px;
}

.text-message {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  height: 170px;
  margin-top: 10px;
  padding: 10px;
  font-family: var(--font-family);
}

.submit-btn-div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Get-In-Touch-btn {
  width: 140px;
  height: 48px;
  font-weight: 500;
  font-size: 17px;
  color: #6070ff;
  background: #fff;
  border-radius: 8px;
  border-style: none;
  font-family: var(--font-family);
  margin-top: 20px;
  margin-left: 0;
  cursor: pointer;
}

/* ############################################## */
.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  width: 80%;
  margin: 0 auto;
  justify-items: center;
  padding-bottom: 114px;
  background-color: #f7f7f9;
}

/* ############################################## */



@media all and (max-width : 1000px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
  }
  
  header {
    background-color: rgb(16, 156, 46);
    width: 100%;
  }
}



@media all and (max-width : 767px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 767px;
  }
  
  header {
    background-color: rgb(156, 16, 16);
    width: 100%;
  }
}

