@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --logo-color: #6070ff;
  --menu-icon-color: #6070ff;
  --h1-color: #172b4d;
  --span-color: #7f8cff;
  --paragraph-color: #344563;
  --font-family: "Poppins", sans-serif;
  --li-color: #c1c7d0;
  --h3-color: #172b4d;
  --h2-color: #172b4d;
  --btn-bg-color: #ebebff;
}


body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: #e5e5e5;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.banner-ibackground {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 918px;
  background-image: url("images/background/header-background.svg");
}

.header-nav-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  margin-top: 0;
  padding-top: 0;
  color: var(--logo-color);
  background-color: #fff;
  position: fixed; 
}

.main-nav-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 100%;
  justify-content: space-between;
  align-items: center;

}

.logo {
  color: var(--logo-color);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  line-height: 20px;
  font-weight: 700;
  font-size: 18px;
}

.navigation-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 72px;
  background-color: #fff;
  position: fixed;
}

.nav_item {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.nav-menu-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  width: 300px;
  display: none;
}

.nav-menu-items {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.ion-icon {
  font-size: 64px;
  color: var(--menu-icon-color);
  padding: 8px;
  margin: 0 24px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-repeat: no-repeat;
}

.hero-main-div {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 10px;
}

h2 {
  color: var(--h1-color);
  font-size: 36px;
  padding: 0 24px 12px 24px;
  font-family: var(--font-family);
}
.header-paragraph-container {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.paragraph {
  font-family: var(--font-family);
  color: #344563;
}

.name {
  color: var(--h1-color);
  font-size: 36px;
  padding-left: 0;
  font-family: var(--font-family);
}

.about-paragraph-div {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.about-paragraph {
  color: var(--paragraph-color);
  font-size: 1rem;
  line-height: 24px;
  font-family: var(--font-family);
  font-weight: 400;
  width: 100%;
}

.socialmedia_icons_container-1 {
  display: flex;
  flex-direction: row;
  width: 200px;
}

.socialmedia_icons_container-2 {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.media_icons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  height: 20px;
  width: 100%;
}

.media_icons-about {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  height: 20px;
  width: 100%;
  padding-left: 10px;

}


.connect {
  color: var(--span-color);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
  cursor: pointer;
}

.socialmedia_icons_container {
  padding-top: 10px;
}

.connect-about {
  color: var(--span-color);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.media-icons:hover,
.menu:hover,
.logo:hover {
  cursor: pointer;
}

.work-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-fluid {
  width: 100%;
  height: auto\9;
  max-width: 544px;
  max-width: 448px;
  object-fit: cover;
}

.card-layout {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 16px;
  border: 1px solid #fff;
  border-radius: 16px;
  margin-top: 88px;
  background-color: #fff;
}

.p-title {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  padding-right: 5px;
  width: 100%;
}

.title {
  color: var(--h3-color);
  font-size: 32px;
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 44px;
}

.text {
  margin-top: 10px;
}

.multi-post {
  color: var(--h3-color);
  font-size: 26px;
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 24px;
}

.flex-items {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
}

.canopy {
  list-style: none;
  color: #344563 !important;
}

.text_paragraph {
  color: var(--paragraph-color);
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 270px;
  margin-bottom: 10px;
  font-family: var(--font-family);
}

.list-item {
  margin-right: 25px;
  color: #7a869a;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.btn-container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
  width: fit-content;
}


.btn-sm {
  background-color: #ebebff;
  width: 53px;
  text-align: center;
  height: 24px;
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  transition: 0.2s;
  border: none;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  font-family: var(--font-family);
}

.btn-Ruby {
  background-color: #ebebff;
  width: fit-content;
  text-align: center;
  height: 24px;
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  transition: 0.2s;
  border: none;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  margin-left: 5px;
  font-family: var(--font-family);
  display: none;
}

.btn-md {
  background-color: #ebebff;
  width: 45px;
  text-align: center;
  height: 24px;
  border-radius: 8px;
  border: none;
  color: #6070ff;
  padding: 4px 12px;
  transition: 0.2s;
  font-weight: 500;
  font-size: 12px;
  margin-left: 5px;
  font-family: var(--font-family);
}

.btn-lg {
  width: 70px;
  text-align: center;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: #ebebff;
  color: #6070ff;
  transition: 0.2s;
  font-weight: 500;
  font-size: 12px;
  margin-left: 5px;
  font-family: var(--font-family);
}

.btn-container {
  margin-top: 10px;
}

.btn-xxl {
  width: 124px;
  text-align: center;
  height: 48px;
  border: 1px solid #6070ff;
  background-color: #fff;
  color: #396df2;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  transition: 0.2s;
  font-family: var(--font-family);
}

.btn-Ruby:hover,
.btn-sm:hover,
.btn-md:hover,
.btn-lg:hover,
.btn-xxl:hover {
  cursor: pointer;
  background-color: #6070ff;
  box-shadow: 0 0 16px rgba(64, 83, 252, 0.24);
  transform: translateY(4px);
  color: #fff;
}

.btn-Ruby:active,
.btn-sm:active,
.btn-md:active,
.btn-lg:active,
.btn-xxl:active {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #7f8cff;
  color: #6070ff;
}

/* about section starts here */

.footer-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-background {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border-top-right-radius: 50px;
}

.footer-about-contents{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
}

.about-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  border-top-right-radius: 0% 25px;
}

.skills-main-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
}


.about-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  color: var(--h2-color);
  line-height: 52px;
  padding-top: 114px;
  padding-left: 0;
}

.about-btn {
  padding: 10px;
}

.btn-resume {
  font-size: 15px;
  font-weight: 400;
}

.accordion {
  margin-top: 60px;
}

.accordion-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.accordion li {
  list-style: none;
}

.media--images {
  cursor: pointer;
}

.skill--description {
  font-size: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  color: black;
}

.skill--description-link {
  text-decoration: none;
  margin-left: 36px;
}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  height: 66.72px;
  background-color: #f7f7f9;
}

.skill-image {
  margin: 9px 12px 9.72px;
  height: 48px;
  width: 48px;
  object-fit: cover;
}

.skill-name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.chevron-icons {
  cursor: pointer;
  margin-right: 64px;
}

.frameworks-container,
.skills-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid;
  border-radius: 0.7px;
  border-color: #dfe1e6;
}

.framework--title-link,
.skills--title-link {
  text-decoration: none;
  font-size: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 24px;
  color: black;
  margin: 36px 36px;
}

.contact-me-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  padding-top: 50px;
}

.contact-me-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 779px;
  background-image: url(images/background/footer-background.svg);
}

.contact-me-header {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: var(--font-family);
}

.contact-me-p-div {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.contact-me-p {
  align-items: center;
  text-align: center;
  color: #ebebff;
  font-weight: 400;
  font-size: 20px;
  font-family: var(--font-family);
  margin-top: 20px;
}

.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
}

.form-input-name,
.form-input-email {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  height: 48px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  font-family: var(--font-family);
  color: #172b4d;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.form-input-email {
  margin-top: 10px;
}

.text-message {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  height: 170px;
  margin-top: 10px;
  padding: 10px;
  font-family: var(--font-family);
}

.submit-btn-div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Get-In-Touch-btn {
  width: 140px;
  height: 48px;
  font-weight: 500;
  font-size: 17px;
  color: #6070ff;
  background: #fff;
  border-radius: 8px;
  border-style: none;
  font-family: var(--font-family);
  margin-top: 20px;
  margin-left: 0;
  cursor: pointer;
}

/* ############################################## */
.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  width: 80%;
  margin: 0 auto;
  justify-items: center;
  padding-bottom: 114px;
}

/* ############################################## */

/* ################################################################ */

@media all and (max-width : 1440px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  
  .nav-menu-ul {
    display: flex;
  }

  .menu {
    display: none;
  }

  .nav-menu-items:hover {
    cursor: pointer;
  }

  .header-nav-container {
    height: 72px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 846px;
    width: 100%;
  }

  .hero-main-div {
    width: 80%;
    height: 470px;
    margin: 0;
    padding: 0;
  }

  .name {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
  }

  .paragraph {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .card-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-content: center;
    justify-content: space-between;
    padding: 6px;
    width: 90%;
    border: 1px solid #fff;
    gap: 10px;
    margin-top: 120px;
    background-color: #fff;

    grid-area: 'grid-contents grid-image';
  }

  .grid-image-2,
  .grid-image-4 {
    order: 1;
  } 

  .card-template-2 {
    order: 3;
  }

  .card-template-1 {
    order: 2;
  }
  
  .btn-Ruby {
    display: flex;
  }
  
  .card-layout:hover {
    cursor: pointer;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-style: solid;
    border-width: 3px;
    border-color: #a7aeff;
  }

  .about-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    padding-top: 30px;
    width: 90%;
    margin: 0 auto;
    background-repeat: no-repeat;
    border-top-right-radius: 0% 25px;
    padding-top: 100px;
  }

  .about-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    color: var(--h2-color);
    line-height: 52px;
    padding-top: 45px;
    padding-left: 0;
    padding-right: 25px;
  }

  .footer-about-contents{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 0;
    padding-top: 0;
    margin-right: 50px;
  }

  .skills-main-content-container {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  

  .form-input-name,
  .form-input-email {
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 0;
    width: 447px;
    height: 48px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    font-family: var(--font-family);
    color: #172b4d;
    align-items: center;
    cursor: pointer;
    padding: 10px;
  }

  .text-message {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #b3bac5;
    border: 1px solid #cfd8dc;
    border-radius: 0;
    width: 447px;
    height: 170px;
    margin-top: 10px;
    padding: 10px;
    font-family: var(--font-family);
  }
  
  .submit-btn-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .footer-background {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    border-top-right-radius: 50px;
  }

  .contact-me-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 779px;
    background-image: url(images/background/footer-background.svg);
  }
      

}



/* ################################################################ */

@media all and (max-width : 1000px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
  }
  
  .nav-menu-ul {
    display: flex;
  }

  .menu {
    display: none;
  }

  .nav-menu-items:hover {
    cursor: pointer;
  }

  .header-nav-container {
    height: 72px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 846px;
    width: 100%;
  }

  .hero-main-div {
    width: 80%;
    height: 470px;
    margin: 0;
    padding: 0;
  }

  .name {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
  }

  .paragraph {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .card-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-content: center;
    justify-content: space-between;
    padding: 6px;
    width: 90%;
    border: 1px solid #fff;
    gap: 10px;
    margin-top: 120px;
    background-color: #fff;

    grid-area: 'grid-contents grid-image';
  }

  .grid-image-2,
  .grid-image-4 {
    order: 1;
  } 

  .card-template-2 {
    order: 3;
  }

  .card-template-1 {
    order: 2;
  }
  
  .btn-Ruby {
    display: flex;
  }
  
  .card-layout:hover {
    cursor: pointer;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-style: solid;
    border-width: 3px;
    border-color: #a7aeff;
  }

  .about-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    padding-top: 30px;
    width: 90%;
    margin: 0 auto;
    background-repeat: no-repeat;
    border-top-right-radius: 0% 25px;
    padding-top: 100px;
  }

  .about-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    color: var(--h2-color);
    line-height: 52px;
    padding-top: 45px;
    padding-left: 0;
    padding-right: 25px;
  }

  .footer-about-contents{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 0;
    padding-top: 0;
    margin-right: 50px;
  }

  .skills-main-content-container {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  

  .form-input-name,
  .form-input-email {
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 0;
    width: 447px;
    height: 48px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    font-family: var(--font-family);
    color: #172b4d;
    align-items: center;
    cursor: pointer;
    padding: 10px;
  }

  .text-message {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #b3bac5;
    border: 1px solid #cfd8dc;
    border-radius: 0;
    width: 447px;
    height: 170px;
    margin-top: 10px;
    padding: 10px;
    font-family: var(--font-family);
  }
  
  .submit-btn-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
      

}

/* ################################################################ */

@media all and (max-width : 767px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 767px;
  }

  .menu {
    display: flex;
  }

  .nav-menu-ul {
    display: none;
  }

  .header-nav-container {
    height: 48px;
    width: 100%;
  }

  .name {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .card-layout {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 16px;
    width: auto;
    border: 1px solid #fff;
    border-radius: 16px;
    gap: 10px;
    margin-top: 88px;
    background-color: #fff;
  }
  .p-title {
    padding-top: 0;
    margin-top: 0;
  }

  .work-image-container {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .card-layout:hover {
    cursor: pointer;
    box-shadow: none;
    border-style: none;
    border-width: 0;
    border-color: #fff;
  }

  .grid-image-2,
  .grid-image-4 {
    order: -1;
  } 

  .card-template-2 {
    order: 0;
  }

  .card-template-1 {
    order: -1;
  }
  
  .btn-Ruby {
    display: none;
  }

  .about-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    border-top-right-radius: 0% 25px;
    padding-top: 0;
  }

  .about-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    color: var(--h2-color);
    line-height: 52px;
    padding-top: 114px;
    padding-left: 0;
    padding-right: 0;
  }

  .footer-about-contents{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    margin-right: 0;
  }
  
  .skills-main-content-container {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .form-input-name,
  .form-input-email {
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    width: 327px;
    height: 48px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    font-family: var(--font-family);
    color: #172b4d;
    align-items: center;
    cursor: pointer;
    padding: 10px;
  }
  
  .text-message {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #b3bac5;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    width: 327px;
    height: 170px;
    margin-top: 10px;
    padding: 10px;
    font-family: var(--font-family);
  }
  
  .submit-btn-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
  }
}

